# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.
# ==================================================================
#1. Copy and paste this template
#2. Remove the .template and use in your local environment
#3. Dont commit your .env to the repo

# === Accounts ===
# USERNAME= use a valid user account to login
#PASSWORD= use the password for your valid login
#WRONGUSER= use a not valid account
#WRONGPASSWORD= use a random string to get an invalid login
#USER_CUSTOMER= customer account email

